/*
#023373 Color primario
#0367A6 Color secundario
#048ABF Color variacion
#FFFFFF Color Claro
*/

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #023373;
    width: 100%;
    height: auto;
}

.header__container{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    margin: 0 auto;
    background-color:#0367A6;
    height: 100%;
}

.header__imagen{
    width: 100%;
    height: 100%;

}
.header__imagen-perfil{
    width: 100%;
    height: 100%;
}

.header__container-navbar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
    width: 100%;
}

.header__titulo{
    width: 100%;
    text-align: center;
    align-self: center;
}

.header__titulo h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 0px;
    letter-spacing: 10px;
}

.header__titulo p{
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
}

.header__navbar{
    background-color: blanchedalmond;
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    box-shadow: 1px -5px 18px -5px rgba(0,0,0,0.75);
}

.header__navbar-item{
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #048ABF;
    width: 100%;
    height: 100%;
}

.header__navbar-item div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 700;
}


.header__navbar-item:hover{
    opacity: .8;
    
}

